# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/functions/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# CodeCov
.nyc_output/
coverage.lcov

# IntelliJ
.idea/
.idea

# VS Code
.vscode/

.env

#Firebase
.firebase/
.firebaserc
firestore.indexes.json

functions/acorn
functions/acorn.cmd
functions/atob
functions/atob.cmd
functions/eslint
functions/eslint.cmd
functions/esparse
functions/esparse.cmd
functions/esvalidate
functions/esvalidate.cmd
functions/gcs-upload
functions/gcs-upload.cmd
functions/gp12-pem
functions/gp12-pem.cmd
functions/js-yaml
functions/js-yaml.cmd
functions/mime
functions/mime.cmd
functions/mkdirp
functions/mkdirp.cmd
functions/pbjs
functions/pbjs.cmd
functions/pbts
functions/pbts.cmd
functions/rimraf
functions/rimraf.cmd
functions/semver
functions/semver.cmd
functions/sshpk-conv
functions/sshpk-conv.cmd
functions/sshpk-sign
functions/sshpk-sign.cmd
functions/sshpk-verify
functions/sshpk-verify.cmd
functions/uuid
functions/uuid.cmd
functions/which
functions/which.cmd
functions/window-size
functions/window-size.cmd